$white: #fff;
$SmokeWhite: #f0f2f5;
$deepSmokeWhite: #CCCCCC;
$black : #000000;
$FbBlue : #166fe5;
$deepFbBlue : darken(#166fe5, 10);
$divider : rgba(219, 219, 219, 0.582);
$create : rgba(219, 219, 219, 0.582);


