// for some styling that can be extended and to different 
// example: Log in button style  for different files are the same 
@import './colors'l;

loginStyle{
    background-color:  $FbBlue;
    color: $white;
    &:hover{
        background-color:  $deepFbBlue;
    }
}