.Login{
    background-color: #f0f2f5;;
    height:  100vh;

    .logo{
    
        #Layer_1{

        }
    }

    .form{
        background-color: #fff;
        box-shadow: 0px 0px 1px rgba(66,66,66,.37);
        padding: 10px;
        .form-wrapper{
            display: flex;
            flex-direction: column;
            .email-input, 
            .password-input{
                    padding: 8px;
                    font-size: 16px;
                    border-width: 0px;
                    border-color: #CCCCCC;
                    background-color: #FFFFFF;
                    color: #000000;
                    border-style: solid;
                    border-radius: 6px;
                    box-shadow: 0px 0px 1px rgba(66,66,66,.37);

                    &:focus {
                        outline: #166fe5;
               }
            }
        }
    }
}